<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--------------------- header --------------------->
<script>


</script>
<header th:fragment="fragment-header">
        <div class="container">
            <nav>
                <ul class="nav justify-content-end bg-white">

                    <li class="nav-item">
                        <div class ="mt-2" th:if="${T(org.springframework.web.util.WebUtils).getCookie(#request,'token')!=null}"
                              th:text="${@jwtTokenUtil.getLoginId(#request)}+'님, 환영합니다.'"></div>
                    </li>
                    <li class="nav-item">

                            <a th:if="${@jwtTokenUtil.getLoginId(#request)==null}"class="nav-link active" aria-current="page"
                               th:href="@{/login}">로그인</a>

                    </li>

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="./mypage.html">마이페이지</a>-->
<!--                    </li>-->

                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true" th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </nav>
            <div class="d-flex p-5 bg-primary text-white text-center justify-content-center jumbotron" id="banner">
                <div class="align-self-center">
                    <a th:href="@{/}">
                        <h1>비밀:정원</h1>

                    </a>

                </div>

            </div>
        </div>
        <!--navigation-->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- 네비바 안 이미지-->
                    <nav class="navbar navbar-light bg-light">
                        <div class="container">
                            <a class="navbar-brand" href="/">
                                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                                비밀정원
                            </a>
                        </div>
                    </nav>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- 네비바 : 메인메뉴-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link active p-3" aria-current="page" href="./board.html">일기장</a>-->
<!--                            </li>-->

                            <li class="nav-item">
                                <a class="nav-link p-3" th:href="@{/board}" tabindex="-1" aria-disabled="true">자유게시판</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

</header>
</html>