<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>

    <script>
        let oEditors =[];
        smartEditor = function() {
            console.log("naver smarteditor");
            nhn.husky.EZCreator.createInIFrame({
                oAppRef : oEditors,
                elPlaceHolder : "boardTxt", // id값
                sSkinURI :  "/smarteditor2-2.8.2.3/SmartEditor2Skin.html",
                fCreator : "createSEditor2"
            });
        };

        $(document).ready(function() {
            smartEditor();
        });

    </script>

</head>
<body>
    <!--------------------- header --------------------->
    <header th:replace="/fragments/header.html :: fragment-header">
    </header>

            <!------------------ main ------------------->
            <main>
                <!--editor를 넣을 위치에textarea 넣어주기 > name, id 설정해야함. rows는 화면에 보이는 라인수 조절 가능-->
                <form action="">
                    <div class="container">
                        <div id="smarteditor" class="mx-auto w-75 mb-3">
                            <textarea name="boardTxt" id="boardTxt" style="width:766px;margin:auto" cols="30" rows="30" placeholder="내용을 입력해주세요"></textarea>
                        </div>
                        <div class="mb-3 col-md-7 d-flex flex-column mx-auto">
                            <button type="submit" class="btn btn-outline-success px-3">게시글 등록</button>
                        </div>
                    </div>
                </form>

            </main>

</body>
</html>