<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>


</head>
<body>
<!--------------------- header --------------------->
<header th:replace="/fragments/header.html :: fragment-header">
</header>
    <!----------- main ------------->
    <main>
        <!-- 글 목록 -->

        <div class="container min-vh-50 py-2 w-75">
            <div class="table-responsive ">
                <a th:href="@{/secretgarden/post}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">글쓰기</a>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">조회수</th>
                    <th scope="col">댓글수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardList}">
                    <th scope="row">1</th>
                    <td><a th:href="@{/secretgarden/board/{boardId}(boardId=${board.id})}" th:text="${board.id}"></a></td>
                    <td></td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>

                
                </tbody>
            </table>

        </div>
        </div>
        <!-- search -->
        <form>

            <div class="input-group mb-3 mx-auto w-25">
                <div class="w-25">
                    <select class="form-select">
                        <option value="title" selected>제목</option>
                        <option value="content">내용</option>
                    </select>
                </div>

                <input type="text" class="form-control" id="searchbox" placeholder= "검색어는 두글자 이상" aria-describedby="submit-button">
                <button class="btn btn-outline-secondary" type="submit" id="submit-button" href="#">검색</button>
            </div>
        </form>


        <!-- pagenation -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </main>

    <!------------------ footer --------------------->

    <footer>

    </footer>
</body>
</html>