<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>
    <script th:inline="javascript">
        let mode = [[${MODE}]];
        let id = [[${id}]];

        $(document).ready(function() {

            checkMode();
            $("#postBtn").click(function() {
                switch (mode) {
                    case "POST_MODE" :
                        submitData("/secretgarden/post");
                        break;
                    case "MODIFY_MODE":
                        submitData("/secretgarden/modify/"+id);
                        break;
                }
            });
            $("#modBtn").click(function() {
                location.href="/secretgarden/modify/"+id;
            });
            $("#delBtn").click(function() {
                deleteData("/secretgarden/delete/"+id);
            });
            $("#listBtn").click(function() {
                location.href="/secretgarden/board";
            });
        });

        function deleteData(url) {
            let failUrl = "/secretgarden/board";
            $.ajax({
                url: url,
                method: "GET",
                dataType: "text", // ResponseEntity body를 json으로 받으면 controller단에서 처리를 해주어야 함
                // text로 받는게 맞다
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result);
                    let obj = JSON.parse(result);
                    alert(obj.msg);
                    location.href = obj.url;
                },
                error: function (request, status, error) {
                    let obj = JSON.parse(request.responseText);
                    alert(obj.msg);
                    location.href=obj.url;

                }
            });

        }
        function submitData(url) {
            let form = $("#boardForm").serializeArray(); // json 데이터를 위한
            let object = {};
            for (let i = 0; i < form.length; i++) {
                object[form[i]['name']] = form[i]['value'];
            }
            object['id'] = $("#id").text();
            alert(object['id']);
            // alert(JSON.stringify(object)); 잘 나옴

            $.ajax({
                url: url,
                method: "post",
                dataType: "text", // ResponseEntity body를 json으로 받으면 controller단에서 처리를 해주어야 함
                // text로 받는게 맞다
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(object),
                success: function (result) {
                    let obj = JSON.parse(result);
                    alert(obj.msg);
                    location.href = obj.url;
                },
                error: function (request, status, error) {
                    alert("게시글 등록에 실패했습니다. 다시 시도해주세요.");

                }
            });


        }

        function checkMode() {
            switch (mode) {
                case "READ_MODE" :
                    $('input,textarea').attr("readonly","true");
                    break;
                case "MODIFY_MODE" :
                    $('#modBtn').css("display","none");
                    break;
                case "POST_MODE" :
                    $('#modBtn').css("display","none");
                    $('#delBtn').css("display","none");
                    break;
            }
        }

    </script>

</head>
<body>
    <!--------------------- header --------------------->
    <header th:replace="/fragments/header.html :: fragment-header">
    </header>

            <!-- 타임리프 변수선언 -->



            </div>
            <!------------------ main ------------------->
            <main>
                <div class="col-md-8 mx-auto">
                    <div class="d-flex mb-3 border-bottom">
                        <h5 class="my-3 pb-2">게시글 작성</h5>
                        <div class="my-2 ms-auto">
                            <button type="button" id="modBtn" class="btn btn-secondary">수정하기</button>
                            <button type="button" id="delBtn" class="btn btn-secondary">삭제하기</button>
                        </div>
                    </div>


                    <form id="boardForm">

                        <div class="mb-3">
                            <label for ="id">작성자</label>
                            <div th:text="${userId}" id="id" class="mb-3"></div>
                            <label for="title" class="form-label">제목</label>
                            <input type="text" name="title" id="title" class="form-control" th:value="${board?.title}"/>
                            <input type="hidden" name="userId" th:value="${@jwtTokenUtil.getLoginId(#request)}"/>
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea name="content" id="content" class="form-control" rows="10" th:text="${board?.content}"></textarea>

                        </div>

                            <button th:if="${MODE}=='READ_MODE'" type="button" id="listBtn" class="btn btn-primary my-2">목록으로</button>
                            <button th:unless="${MODE}=='READ_MODE'" type="button" id="postBtn" class="btn btn-primary my-2">저장하기</button>



                    </form>



                </div>

            </main>

</body>
</html>