<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>


</head>
<body>
<!--------------------- header --------------------->
<header th:replace="/fragments/header.html :: fragment-header">
</header>
    <!----------- main ------------->
    <main>
        <!-- 글 목록 -->
        <div class="mb-3 col-md-9 mx-auto table-responsive-md">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">조회수</th>
                    <th scope="col">댓글수</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                </tr>
                
                </tbody>
            </table>


        </div>
        
    </main>

    <!------------------ footer --------------------->

    <footer>

    </footer>
</body>
</html>