<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="/fragments/head.html :: fragment-head"></div>


    </head>
<body>

<!--------------------- header --------------------->
<header th:replace="/fragments/header.html :: fragment-header">
</header>
    <!----------- main ------------->
    <main>
        <!--로그인 폼-->
        <form>
            <div class="input-group mx-auto w-25 mt-5 border border-secondary p-4">
                <h1 class="display-5 mb-3">Login</h1>
                    <div class="mb-3 w-100 form-floating">
                        <input type="text" class="form-control" id="id" placeholder="input id">
                        <label for="id">아이디</label>
                    </div>
                    <div class="mb-3 col-md-12 form-floating">
                        <input type="password" class="form-control" id="password" placeholder="input pw">
                        <label for="password">패스워드</label>
                    </div>
                    <div class="mb-3 col-md-12 form-check">
                      <input type="checkbox" class="form-check-input" id="rememberId">
                      <label class="form-check-label" for="exampleCheck1">아이디 기억</label>
                    </div>
                    <div class="mb-3 col-md-12 d-flex flex-row justify-content-md-evenly">
                        <button type="submit" class="btn btn-outline-success px-5">로그인</button>
                        <a class="btn btn-outline-secondary px-5" href="./register.html" role="button">회원가입</a>
                    </div>
            </div>
          </form>
    </main>

        

</body>
</html>