<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head.html :: fragment-head"></div>

</head>
<body>
<!--------------------- header --------------------->
<header th:replace="/fragments/header.html :: fragment-header">
</header>
    <!----------- main ------------->
    <main>
        <!--로그인 폼-->
        <form method="post" action="/secretgarden/login">
            <div class="input-group mx-auto w-25 mt-5 border border-secondary p-4">
                <h1 class="display-5 mb-3">Login</h1>
                    <div class="mb-3 w-100 form-floating">
                        <input type="text" class="form-control" name = "id" id="id" placeholder="input id">
                        <label for="id">아이디</label>
                    </div>
                    <div class="mb-3 col-md-12 form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder="input pw">
                        <label for="password">패스워드</label>
                    </div>
                    <div class="mb-3 col-md-12 form-check">
                        <input type="checkbox" class="form-check-input" name="rememberId" id="rememberId">
                        <label class="form-check-label" for="rememberId">아이디 기억</label>
                    </div>
                    <div class="mb-3 col-md-12 d-flex flex-column">
                        <button type="submit" class="btn btn-outline-success px-5">로그인</button>
                    </div>
                    <div class="d-flex flex-row justify-content-center col-md-12">
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item border-0 border-end"><a href="./find_id.html">아이디 찾기</a></li>
                            <li class="list-group-item border-0 border-end"><a href="./find_pw.html">비밀번호 찾기</a></li>
                            <li class="list-group-item border-0"><a href="/secretgarden/register">회원가입</a></li>
                        </ul>
                    </div>      


            </div>
          </form>

    </main>

    <!------------------ footer --------------------->

    <footer>

    </footer>
</body>
</html>