<html lang="en">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
    <!-- 웹 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!--개인적으로 생성한 css-->
    <link href="../static/css/main/index.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.7.0.slim.js"
            integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            if($("#domain option:selected").val()!='1') {
                $("#user_domain").val($("#domain option:selected").text());
                alert($("#domain option:selected").text())//선택값 입력
                $("#user_domain").attr("disabled",true); //비활성화
            }

            $("#domain option:selected").each(function () {
                $('#domain').change(function(){

                    if($(this).val()== '1'){ //직접입력일 경우
                        $("#user_domain").val('');                        //값 초기화
                        $("#user_domain").attr("disabled",false); //활성화
                    }else{ //직접입력이 아닐경우
                        $("#user_domain").val($(this).text());      //선택값 입력
                        $("#user_domain").attr("disabled",true); //비활성화
                    }
                });
            });
        });


    </script>

    <title>Document</title>
</head>
<body>
    <!--------------------- header --------------------->
    <header>
        <div class="container">
            <nav>
                    <ul class="nav justify-content-end bg-white">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./login.html">로그인</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="./mypage.html">마이페이지</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="./donation.html">후원</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">로그아웃</a>
                        </li>
                    </ul>
            </nav>
            <div class="d-flex p-5 bg-primary text-white text-center justify-content-center jumbotron" id="banner">
                <div class="align-self-center"> 
                    <a href="./index.html"></a>
                    <h1>비밀:정원</h1>
                    <p>너와 나의 역사가 시작된 곳.</p>


                </div>

            </div>
        </div>
        <!--navigation-->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- 네비바 안 이미지-->
                    <nav class="navbar navbar-light bg-light">
                        <div class="container">
                        <a class="navbar-brand" href="./index.html">
                            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                            비밀정원
                        </a>
                        </div>
                        </nav>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- 네비바 : 메인메뉴-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active p-3" aria-current="page" href="./index.html">심연</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="./anomy_board.html">대나무숲</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link p-3" href="./board.html" tabindex="-1" aria-disabled="true">자유게시판</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" href="./chatting.html" tabindex="-1" aria-disabled="true">와글와글</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
        
    </header>
    <!--------------------- main ------------------->
    <main>
        <form action="/secretgarden/register" method="post">
            <div class="input-group mx-auto w-25 mt-5 border border-secondary p-4 mb-5">
                <h1 class="display-5 mb-3">Register</h1>
                    <div class="mb-3 col-md-12 form-floating">
                        <input type="text" class="form-control" name="id" id="id" placeholder="input id">
                        <label for="id">아이디</label>
                    </div>
                    <div class="mb-3 col-md-12 form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder="input pw">
                        <label for="password">패스워드</label>
                    </div>
                    <div class="mb-3 col-md-12 form-floating">
                        <input type="name" class="form-control" name="name" id="name" placeholder="input name">
                        <label for="name">이름</label>
                    </div>
                    <div class="mb-3 d-flex flex-row align-items-stretch form-floating">
                            <input type="text" class="form-control" name="email_id" id="email_id" placeholder="input id">
                            <label for="email_id">이메일</label>
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" name="user_domain" id="user_domain" placeholder="input domain">

                    </div>
                <!-- 직접 입력부분 > react -->
                    <select class="form-select form-select-lg mb-3" aria-label="server-name" id="domain">
                        <option selected value="naver.com">naver.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="1">직접입력</option>
                    </select>
                    <div class="mb-3 col-md-12 form-floating">
                        <input type="text" class="form-control" id="phonenum" name="phonenum" placeholder="input pw">
                        <label for="phonenum">H.P</label>
                    </div>
                    <div class="mb-3 col-md-12 d-flex flex-row justify-content-md-evenly">
                        <button type="submit" class="btn btn-outline-success px-5">회원가입</button>
                        <a class="btn btn-outline-secondary px-5" href="./index.html" role="button">홈으로</a>
                    </div>
            </div>
        </form>

    </main>
    <footer>


    </footer>
</body>
</html>